@{
    ViewData["Title"] = "Home Page";
}

@using System.Globalization
@model List<Client.Models.Task>

<body class="bg-dark">
<table class="table table-striped table-bordered table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Finished</th>
            <th>Deadline</th>
            <th>IsFinished</th>
        </tr>
    </thead>
    
    @foreach (var task in Model)
    {
        <tr>
            <td>@task.Id.ToString()</td>
            <td>@task.Name</td>
            <td>@task.Description</td>
            <td>@task.Created.ToString(CultureInfo.InvariantCulture)</td>
            <td>@task.Finished.ToString()</td>
            <td>@task.Deadline.ToString(CultureInfo.InvariantCulture)</td>
            <td>@task.IsFinished.ToString()</td>
            <td><a asp-controller="Home" asp-action="Update" asp-route-taskId="@task.Id">Update</a></td>
            @* <td><a asp-controller="Home" asp-action="Delete"></a></td> *@
        </tr>
    }
</table>
</body>